.form {
  width: 20vw;
  padding: 10px;
  margin-top: 60px;
}

.form-div {
  height: 100vh;
}

.form-container {
  height: "100vh";
  display: flex;
  justify-content: center;
}

.title {
  text-align: center;
}
.submit {
  display: flex;
  justify-content: center;
}

.form-subtitle {
  margin-top: 10px;
  display: flex;
  justify-content: center;
}

.link {
  color: blue;
  text-decoration: underline;
  cursor: pointer;
}
