ul {
  display: inline;
}

.item {
  width: 5vw;
}
.user-link {
  width: 6vw;
}

.user-link-large {
  width: 10vw;
}

.space {
  width: 34vw;
}

.space-large {
  width: 29vw;
}

.search {
  width: 10vw;
}

.space-2 {
  width: 34vw;
}

.space-2-large {
  width: 35vw;
}

#navbar {
  margin-top: -15px;
  margin-left: 70px;
}

.space-3 {
  width: 100px;
}

.space-4 {
  width: 10vw;
}
